{% extends 'base.html.twig' %}

{% block stylesheets %}
    <style>
    </style>
{% endblock %}

{% block title %}Ajouter une video{% endblock %}

{% block content %}
    <div class="album">
        <div class="container mt-2 pt-5">
            <div class="row mb-5">
                <div class="col-6 offset-3">
                    <h1 class="mb-5">Ajouter une video</h1>
                    {{ form_start(form) }}
                    {{ form_widget(form) }}
                    <button class="btn btn-sm btn-dark">{{ button_label|default('Ajouter') }}</button>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
