{% extends 'base.html.twig' %}

{% block stylesheets %}
    <style>
    </style>
{% endblock %}

{% block title %}Contact{% endblock %}

{% block content %}
    <div class="album">
        <div class="container mt-2 pt-5">
            <div class="row mb-5">
                <div class="col-6 offset-3">
                    <h1 class="mb-5">Formulaire de contact</h1>
                    <form id="contactForm">
                        <div class="mb-3">
                            <label class="form-label" for="name">Nom</label>
                            <input class="form-control rounded-4 p-3" id="name" type="text" placeholder="Votre nom">
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="emailAddress">Adresse e-mail</label>
                            <input class="form-control rounded-4 p-3" id="emailAddress" type="email" placeholder="Votre adresse">
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="message">Message</label>
                            <textarea class="form-control rounded-4 p-3" id="message" type="text" placeholder="Votre message" style="height: 10rem;"></textarea>
                        </div>
                        <div class="d-grid">
                            <button class="btn btn-dark btn-sm w-50 m-auto rounded-5 mt-5 p-2" type="submit">Envoyer</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
